<div class="menu-itens">
  <h1>MILMA</h1>
  <div class="user">
    <div class="image-user">
      <img src="" class="userimage"/>
    </div>
    <div class="info-user">
      <h3 class="username">username</h3>
      <h4 class="profile">admin</h4>
    </div>
  </div>
  <nav class="navigation">
    <ul class="mainmenu">
      <li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li><a><i class="fa fa-search" aria-hidden="true"></i> Analise de Leite <span class="fa fa-chevron-down"></span></a>
        <ul class="submenu">
          <li><a href="/cadastroAnaliseLeite">Cadastrar análise</a></li>
          <li><a href="/consultarAnaliseLeite">Consultar análise</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-github-alt" aria-hidden="true"></i> Gado <span class="fa fa-chevron-down"></span></a>
        <ul class="submenu">
          <li><a href="/cadastroInsumo">Cadastrar Gado</a></li>
          <li><a href="/consultarInsumo">Consultar Gado</a></li>
          <li><a href="/consultarInsumo">Alterar Gado</a></li>
          <li><a href="/consultarInsumo">Excluir Gado</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Estoque de Insumos <span class="fa fa-chevron-down"></span></a>
        <ul class="submenu">
          <li><a href="/cadastroInsumo">Cadastrar Insumos</a></li>
          <li><a href="/consultarInsumo">Consultar Insumos</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-area-chart" aria-hidden="true"></i> Terreno <span class="fa fa-chevron-down"></span></a>
        <ul class="submenu">
          <li><a href="/cadastrovacina">Cadastrar Terreno</a></li>
          <li><a href="/consultarvacina">Consultar Terreno</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-heartbeat" aria-hidden="true"></i> Vacinaçao <span class="fa fa-chevron-down"></span></a>
        <ul class="submenu">
          <li><a href="/cadastrovacina">Cadastrar Vacinaçao</a></li>
          <li><a href="/consultarvacina">Consultar Vacinaçao</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>