<div class="menu-itens">
  <h1>Gesta fazenda</h1>
  <div class="user">
    <div class="image-user">
      <img src="" class="userimage"/>
    </div>
    <div class="info-user">
      <h3 class="username">username</h3>
      <h4 class="profile">admin</h4>
    </div>
  </div>
  <nav class="navigation">
    <ul class="mainmenu">
      <li><a href="">Home</a></li>
      <li><a href="">Analise de Leite</a>
        <ul class="submenu">
          <li><a href="/cadastroAnaliseLeite">Cadastrar análise</a></li>
          <li><a href="/consultarAnaliseLeite">Consultar análise</a></li>
        </ul>
      </li>
      <li><a href="">Gado</a>
 
      </li>
      <li><a href="">Estoque de Insumos</a>
        <ul class="submenu">
          <li><a href="/cadastroInsumo">Cadastrar Insumos</a></li>
          <li><a href="/consultarInsumo">Consultar Insumos</a></li>
        </ul>
      </li>
      <li><a href="">Terreno</a></li>
      <li><a href="">Vacinaçao</a>
        <ul class="submenu">
          <li><a href="/cadastrovacina">Cadastrar Vacinaçao</a></li>
          <li><a href="/consultarvacina">Consultar Vacinaçao</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <hr/>
</div>