<div class="menu-itens">
  <h1>Gesta fazenda</h1>
  <div class="user">
    <div class="image-user">
      <img src="" class="userimage"/>
    </div>
    <div class="info-user">
      <h3 class="username">username</h3>
      <h4 class="profile">admin</h4>
    </div>
  </div>
  <ul>
    <li><a href="index.html"><i class=""></i>Home</a></li>
    <li>
      <a href="index.html"><i class=""></i>Analise de Leite</a>
    </li>
    <li><a href="index.html"><i class=""></i>Gado</a></li>
    <li><a href="index.html"><i class=""></i>Finanças</a></li>
    <li><a href="index.html"><i class=""></i>Estoque de Insumos</a></li>
    <li><a href="index.html"><i class=""></i>Terreno</a></li>
    <li><a href="index.html"><i class=""></i>Vacinaçao</a></li>
  </ul>
  <hr/>
</div>