<div class="detail-top">
	<h1>{{titleAlterar}} {{#each dados}}#{{id}}</h1>
	<a id="button-alterar" class="button basic">Voltar</a>
	<a data-path="../deletarAnaliseLeite" id="button-deletar" class="button danger">Deletar</a>
	<a id="button-alterar" class="button info">Alterar</a>
</div>


<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/mudarDadosAnaliseLeite" method="POST" class="form-style">
	<div class="forms-campo">
		<label for="id" class="form-label">Id *</label>
			<input type="text" class="form-text campo-bloqueado" name="id" id="id" value="{{id}}" readonly>
		</div>
		<div class="forms-campo">
			<label for="nome" class="form-label">Titulo *</label>
			<input type="text" class="form-text" id="nome" name="nome" value="{{nome}}">
		</div>
		<div class="forms-campo col-30">
			<label for="dataTeste" class="form-label">Data do teste *</label> 
			<input type="text" class="form-text" id="dataTeste" name="dataTeste" value="{{datateste}}">
		</div>
		<div class="forms-campo col-70">
			<label for="responsavel" class="form-label">Responsavel *</label>
			<input type="text" class="form-text" id="responsavel" name="responsavel" value="{{responsavel}}">
		</div>
		
		<div class="forms-campo">
			<label for="loteAmostra" class="form-label">Lote da amostra *</label>
			<input type="text" class="form-text" id="loteAmostra" name="loteAmostra" value="{{loteamostra}}">
		</div>
        <div class="forms-campo">
			<label for="especificacao" class="form-label">Especificacao *</label>
			<input type="text" class="form-text" id="especificacao" name="especificacao" value="{{especificacao}}">
		</div>
		<div class="forms-campo col-30">
			<label for="resultado" class="form-label">Resultado *</label>
			<select type="text" class="form-text" id="resultado" name="resultado" value="">
				<option value="Aprovado" {{#if_eq resultado 'Aprovado'}} selected="seleted" {{/if_eq}}>Aprovado</option>
				<option value="Reprovado" {{#if_eq resultado 'Reprovado'}} selected="seleted" {{/if_eq}}>Reprovado</option>
			</select>
		</div>
		<hr>
		<input type="submit" value="Cadastrar" class="button sucess">
		<a class="button danger">Cancelar</a>
	</form>
</div>
{{/each}}

{{#extend "js"}}
	<script>
		$(document).ready(function () {
				$("#dataTeste").mask("99/99/9999");
		});
	</script>
{{/extend}}
