{{!< layout/default}}
<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/insertVacina" method="POST" class="form-style">
		<div class="forms-campo">
			<label class="form-label">Descrição *</label>
			<input type="text" class="form-text" name="descricao" >
		</div>
		<div class="forms-campo">
			<label class="form-label">Dias de carencia *</label> 
			<input type="text" class="form-text" name="diaCarencia" >
		</div>
		<div class="forms-campo">
			<label class="form-label">Unidade de medida *</label>
			<input type="text" class="form-text" name="unidMedida" >
		</div>
		<div class="forms-campo">
			<label class="form-label">Modo de uso *</label>
			<input type="text" class="form-text" name="modoDeUso" >
		</div>
		<hr>
		<input type="submit" value="Cadastrar" class="button sucess">
	</form>
</div>