{{!< layout/default}}
<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/insertInsumo" method="POST" class="form-style">
		<div class="forms-campo">
			<label class="form-label">Nome *</label>
			<input type="text" class="form-text" name="nome" >
		</div>
		<div class="forms-campo">
			<label class="form-label">Valor *</label> 
			<input type="text" class="form-text" name="preco" >
		</div>
		<div class="forms-campo">
			<label class="form-label">Fornecedor *</label>
			<input type="text" class="form-text" name="fornecedor" >
		</div>
		<div class="forms-campo">
			<label class="form-label">Descricao *</label>
			<input type="text" class="form-text" name="descricao" >
		</div>
        <div class="forms-campo">
			<label class="form-label">Quantidade *</label>
			<input type="text" class="form-text" name="quantidade" >
		</div>
        <div class="forms-campo">
			<label class="form-label">Data de validade *</label>
			<input type="text" class="form-text" name="dataDeValidade" >
		</div>
		<hr>
		<input type="submit" value="Cadastrar" class="button sucess">
	</form>
</div>