{{!< layout/default}}
<form action="/insert" method="POST">
		First name:<br>
	<input type="text" name="nomeVacina" value="Mickey">
		First name:<br>
	<input type="text" name="descricaoVacina" value="Mickey">
		First name:<br>
	<input type="text" name="prescricaoVacinacao" value="Mickey">
		First name:<br>
	<input type="text" name="periodicidade" value="Mickey">
		<br>
	<input type="text" name="gadosVacinados" value="Mickey">
		First name:<br>
	<input type="text" name="gadosNaoVacinados" value="Mickey">
		First name:<br>
		<input type="submit" value="Submit">
</form>