{{!< layout/default}}
<h1 class="title-section">Gado</h1>
<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/insertGado" method="POST" class="form-style">
		<div class="forms-campo">
			<label class="form-label">Brinco *</label>
			<input type="text" class="form-text" name="brinco" >
		</div>
		<div class="forms-campo">
			<label class="form-label">Nome *</label> 
			<input type="text" class="form-text" name="nome" >
		</div>
		<div class="forms-campo">
			<label class="form-label">idade *</label>
			<input type="text" class="form-text" name="idade" >
		</div>
		<div class="forms-campo">
			<label class="form-label">Raca *</label>
			<input type="text" class="form-text" name="raca" >
		</div>
        <div class="forms-campo">
			<label class="form-label">Status *</label>
			<input type="text" class="form-text" name="status" >
		</div>
        <div class="forms-campo">
			<label class="form-label">Ciclo de produtivo *</label>
			<input type="text" class="form-text" name="cicloProdutivo" >
		</div>
        <div class="forms-campo">
			<label class="form-label">Lactacao *</label>
			<input type="text" class="form-text" name="lactacao" >
		</div>
        <div class="forms-campo">
			<label class="form-label">Vacinas *</label>
			<input type="text" class="form-text" name="vacinas" >
		</div>
        <div class="forms-campo">
			<label class="form-label">Alimentacao *</label>
			<input type="text" class="form-text" name="alimentacao" >
		</div>
		<hr>
		<input type="submit" value="Cadastrar" class="button sucess">
	</form>
</div>