<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="img/png" href="/icons/Milma.png"/>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/ionicons.min.css">
		<link rel="stylesheet" href="../css/select2.min.css">		
		<link rel="stylesheet" href="../css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/AdminLTE.min.css">
		<link rel="stylesheet" href="../css/blue.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/login.css">
		<link rel="stylesheet" href="../css/_all-skins.min.css">
		<link rel="stylesheet" href="../css/fonts/fonts.css">
		<link rel="stylesheet" href="../css/bootstrap-datepicker3.css"/>

    <title>{{title}}</title>
</head>
<body class="sidebar-mini skin-blue" style="height: auto; min-height: 100%;">
	<div class="wrapper" style="height: auto; min-height: 100%;">
		{{> menuTop}}			
		{{> menuLeft}}

		<div class="content-wrapper">
			<section class="content-header">
				<h1>{{title}}</h1>
			</section>
			<section class="conteudo-principal">
				{{{content}}}
			</section>		
		</div>
	</div>

	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/adminlte.min.js"></script>	
	<script type="text/javascript" src="../js/jquery-maskedinput.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="../js/jquery.quicksearch.js"></script>
	<script type="text/javascript" src="../js/Chart.min.js"></script>	
	<script type="text/javascript" src="../js/moment.min.js"></script>
	{{{block "js"}}}
</body>
</html>
