*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-weight: normal;
}

body {
	background-color: #F7F7F7;
	color: #73879C;
	font-family: 'robotoregular'
}



.menu-itens {
	position: absolute;
	height: 100%;
	width: 230px;
	background-color: #2A3F54;
	padding: 1%;
}

.menu-itens .user {
	margin-bottom: 30px;
}

.menu-itens .user .info-user {
	font-family: 'Tahoma';
	font-size: 14px;
	color: #ffffff;
}

.menu-itens hr {
	border: solid 1px #b8c7ce;
}

.menu-itens .menu li{
	list-style: none;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {	
	box-shadow: 0 4px 2px -2px gray;
  color: #FFF;
  display: block;
	font-size: 14px;
	text-decoration: none;
  padding: 8px;
}

.mainmenu a:hover {
	border-left: 2px solid #FFF;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
}

.submenu a:hover {
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.menu-top {
	width: 100%;
	height: 60px;
	background-color: #EDEDED;
	border-bottom: 1px solid #D9DEE4;
}

.menu-top .toggle {
	margin-left: 230px;
}

.menu-top .toggle i{
	font-size: 55px
}

.menu-top .options {
	float: right;
}

.menu-top .options .box-logoff {
	width: 114px;
	position: absolute;
	top: 60px;
	background-color: #fff;
	display: none;
}

.menu-top .options .box-logoff ul li{
	font-family: 'Tahoma';
	font-size: 12px;
	color: #000;
	text-decoration: none;
	list-style: none;
	height: 30px;
}

.container {
	margin-left: 230px;
	padding: 90px 2.5% 0 2.5%;
}

.container-form {
	width: 100%;
	background-color: #fff;
	border: 1px solid #E6E9ED;
	padding: 20px 20px 9px 20px;
}

.title-section {
	font-size: 24px;
	font-family: 'robotolight';
	margin-bottom: 1%;
	font-weight: bold;
}

.container-form .title-form {
	font-family: 'robotoregular';
  display: block;
	font-size: 17px;
	border-bottom: 2px solid #E6E9ED;
  padding: 0px 0px 9px 0px;
}

.container-form  .form-style {
	display: block;
	margin: 0 auto;
	width: 50%;
	margin-top: 2%;	
}

.container-form  .form-style .form-label {
	font-size: 13px;
	font-family: 'robotoregular';
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

.container-form  .form-style  .forms-campo {
	margin: 10px auto;
}

.container-form  .form-style .form-text {
	font-size: 13px;
	font-family: 'robotoregular';
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
  font-size: 14px;	
}

.container-form  .form-style hr {
	margin-top: 10px;
	margin-bottom: 10px
}

.button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	border: 1px solid transparent;
  border-radius: 4px;
}

.sucess {
	color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
		border-spacing: 0;
    border-collapse: collapse;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    text-align: left;
}