<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="img/png" href="/favicon.png"/>
		<link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/fonts/fonts.css">
    <title>{{title}}</title>
</head>
<body>
	{{> menuLeft}}
	{{> menuTop}}

	<div class="container">
		<h1 class="title-section">{{title}}</h1>
    {{{content}}}
	</div>

	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
