<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="../css/main.css">

    <title>{{title}}</title>
</head>
<body>
	{{> menuLeft}}
	{{> menuTop}}

	<div class="container">
    	{{{content}}}
	</div>

	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
