<div class="detail-top">
	<h1>{{titleAlterar}} {{#each dados}}#{{id}}</h1>
    <a id="button-deletar-comprador" class="button danger">Deletar</a>
</div>

<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/alterarDadosComprador" method="POST" class="form-style">

		<div class="forms-campo">
			<label for="id" class="form-label">Id *</label>
			<input type="text" class="form-text campo-bloqueado" id="id" name="id" value="{{id}}" required readonly>
		</div>

		<div class="forms-campo">
			<label for="razaoSocial" class="form-label">Razão social *</label>
			<input type="text" class="form-text" id="razaosocial" name="razaoSocial" value="{{razaosocial}}" required>
		</div>
		<div class="forms-campo">
			<label for="nomeFantasia" class="form-label">Nome fantasia *</label> 
			<input type="text" class="form-text" id="nomeFantasia" name="nomeFantasia" value="{{nomefantasia}}" required>
		</div>
        <div class="form-group">
				<div class="radio">
					<label>
						<input type="radio" id="tipo" name="tipo" value="Pessoa Jurídica" checked>
						Pessoa Jurídica
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" id="tipo" name="tipo" value="Pessoa Física">
						Pessoa Física
					</label>
				</div>
			</div>
		<div class="forms-campo">
			<label for="cadastroNacional" class="form-label">CNPJ / CPF * *</label>
			<input type="text" class="form-text" id="cadastronacional" name="cadastroNacional" value="{{cadastronacional}}" required>
		</div>
		<div class="forms-campo">
			<label for="endereco" class="form-label">Endereço *</label>
			<input type="text" class="form-text" id="endereco" name="endereco" value="{{endereco}}" required>
		</div>
		<div class="forms-campo">
			<label for="responsavelLegal" class="form-label">Responsável Legal *</label>
			<input type="text" class="form-text" id="responsavellegal" name="responsavelLegal" value="{{responsavellegal}}" required>
		</div>
		<div class="forms-campo">
			<label for="telefone" class="form-label">Telefone *</label>
			<input type="text" class="form-text" id="telefone" name="telefone" value="{{telefone}}" required>
		</div>
		<div class="forms-campo">
			<label for="email" class="form-label">E-mail *</label>
			<input type="email" class="form-text" id="email" name="email" value="{{email}}" required>
		</div>
        {{/each}}
		<hr>
		<input type="submit" value="Salvar" class="button sucess">
		<a class="button danger">Cancelar</a>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalDeletar" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="modalDeletar">DELETAR COMPRADOR</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
				Ei, deseja realmente deletar o cadastro deste comprador?
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-danger" data-path="../deletarComprador" id="confirmarDeletar">Deletar</button>
				</div>
			</div>
		</div>
</div>
</div>

{{#extend "js"}}
	<script>
	$(document).ready(function () {
		$("#button-deletar-comprador").click( function(event) {
			$("#myModal").modal();

			$("#confirmarDeletar").click(function(){
				var pathEdit = $(this).attr('data-path');
				var id = $('#id').val();
				location.href = pathEdit + '/' + id;
			});
		});
	});
	</script>
{{/extend}}
