<div class="detail-top">
	<h1>{{titleAlterar}} {{#each dados}}#{{id}}</h1>
	<a href="javascript:history.back(1);" id="button-alterar" class="button basic">Voltar</a>
    <a id="button-deletar-usuario" class="button danger">Deletar</a>
</div>

<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/alterarDadosUsuario" method="POST" class="form-style">
		<div class="forms-campo">
			<label for="idusuario" class="form-label">ID *</label>
			<input type="text" class="form-text campo-bloqueado" id="idusuario" name="idusuario" value="{{id}}" required readonly>
		</div>
		<div class="forms-campo">
			<label for="nome" class="form-label">Nome *</label> 
			<input type="text" class="form-text" id="nome" name="nome" value="{{nome}}" required>
		</div>
		<div class="forms-campo">
			<label for="idade" class="form-label">Idade *</label>
			<input type="number" class="form-text" id="idade" name="idade" value="{{idade}}" required>
		</div>
        <div class="forms-campo">
			<label for="sexo" class="form-label">Sexo *</label>
			<input type="hidden" class="form-text" id="sexoAtual" value="{{sexo}}">
			<select type="text" class="form-text" id="select-sexo" name="sexo" value="{{sexo}}" required>
				<option id="masculino" value="Masculino">Masculino</option>
				<option id="feminino" value="Feminino">Feminino</option>
			</select>
		</div>
        <div class="forms-campo">
			<label for="dataNascimento" class="form-label">Data de nascimento *</label>
			<input type="text" class="form-text" id="dataNascimento" name="dataNascimento" value="{{datanascimento}}" required>
		</div>
        <div class="forms-campo">
			<label for="endereco" class="form-label">Endereço *</label>
			<input type="text" class="form-text" id="endereco" name="endereco" value="{{endereco}}" required>
		</div>
        <div class="forms-campo">
			<label for="usuario" class="form-label">Usuário *</label>
			<input type="text" class="form-text" id="usuario" name="usuario" value="{{usuario}}" required>
		</div>
        <div class="forms-campo">
			<label for="senha" class="form-label">Senha *</label>
			<input type="password" class="form-text" id="senha" name="senha" value="{{senha}}" required>
		</div>
        <div class="forms-campo">
				<label for="confirmarSenha" class="form-label">Confirmar senha *</label>
				<input type="password" class="form-text" id="confirmarSenha" name="confirmarSenha" value="{{senha}}" required>
			</div>
        <div class="forms-campo">
			<label for="nivelPermissao" class="form-label">Nível de permissão *</label>
				<div class="radio">
					<label><input type="radio" id="nivelPermissao" name="nivelPermissao" value="Administrador" {{#if_eq nivelpermissao 'Administrador'}} checked {{/if_eq}}> Administrador</label>
				</div>
				<div class="radio">
					<label><input type="radio" id="nivelPermissao" name="nivelPermissao" value="Colaborador" {{#if_eq nivelpermissao 'Colaborador'}} checked {{/if_eq}}> Colaborador</label>
				</div>
		</div>
        {{/each}}
		<hr>
		<input type="submit" value="Salvar" class="button sucess">
		<a class="button danger">Cancelar</a>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalDeletar" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="modalDeletar">DELETAR USUÁRIO</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					Ei, deseja realmente deletar este usuário?
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" data-path="../deletarUsuario" id="confirmarDeletar">Deletar</button>
					</div>
				</div>
			</div>
		</div>
</div>

{{#extend "js"}}
	<script>
		$(document).ready(function () {
				$("#dataNascimento").mask("99/99/9999");
		});

		const sexo = $("#sexoAtual").val();
		const masculino = $("#masculino").val();
		const feminino = $("#feminino").val();

		if(sexo === masculino){
			$("#select-sexo").val("Masculino");
		}
		else if(sexo === feminino){
			$("#select-sexo").val("Feminino");
		}

		$("#button-deletar-usuario").click( function(event) {
			$("#myModal").modal();
			
			$("#confirmarDeletar").click(function(){
				var pathEdit = $(this).attr('data-path');
				var id = $('#idusuario').val();
				location.href = pathEdit + '/' + id;
			});
	   });
	</script>
{{/extend}}
