<div class="detail-top">
	<h1>{{titleAlterar}} {{#each dados}}#{{brinco}}</h1>
	<a id="button-alterar" class="button basic">Voltar</a>
	<a data-path="/deletarGado" id="button-deletar-gado" class="button danger">Deletar</a>
	<a data-path="/vacinarGado" id="button-vacinar" class="button info">Vacinar</a>
	<a data-path="/alimentarGado" id="button-alimentacao" class="button warning">Alimentação</a>
</div>

<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/alterarDadosGado" method="POST" class="form-style">
		<div class="forms-campo">
			<label for="brinco" class="form-label">Brinco *</label>
			<input type="text" class="form-text campo-bloqueado" id="brinco" name="brinco" value="{{brinco}}" required readonly>
		</div>
		<div class="forms-campo">
			<label for="nome" class="form-label">Nome *</label>
			<input type="text" class="form-text" id="nome" name="nome" value="{{nome}}" required>
		</div>
		<div class="forms-campo">
			<label for="raca" class="form-label">Raça *</label>
			<input type="hidden" id="racaatual" value="{{raca}}">
			<select class="form-control" id="select-raca" name="raca" required>
					<option id="holandesa" value="Holandesa">Holandesa</option>
					<option id="girolando" value="Girolando">Girolando</option>
					<option id="girLeiteiro" value="Gir Leiteiro">Gir Leiteiro</option>
					<option id="jersey" value="Jersey">Jersey</option>
					<option id="guernsey" value="Guernsey">Guernsey</option>
					<option id="ayrshire" value="Ayrshire">Ayrshire</option>
					<option id="caracu"  value="Caracu">Caracu</option>
					<option id="simental" value="Simental">Simental</option>
					<option id="pardoSuica" value="Pardo Suíça (Schwyz)">Pardo Suíça (Schwyz)</option>
					<option id="jersolando" value="Jersolando">Jersolando</option>
					<option id="angus" value="Angus">Angus</option>
					<option id="redAngus" value="Red Angus">Red Angus</option>
					<option id="aberdeenAngus" value="Aberdeen Angus">Aberdeen Angus</option>
					<option id="hereford" value="Hereford">Hereford</option>
					<option id="tabapua" value="Tabapuã">Tabapuã</option>
					<option id="senepol" value="Senepol">Senepol</option>
					<option id="brahman" value="Brahman">Brahman</option>
					<option id="friesian" value="Friesian">Friesian</option>
					<option id="guzera" value="Guzerá">Guzerá</option>
					<option id="guzolando" value="Guzolando">Guzolando</option>
					<option id="outra" value="Outra">Outra</option>
			</select>
		</div>
		<div class="forms-campo">
			<label for="sexo" class="form-label">Sexo *</label>
			<input type="hidden" id="sexoAtual" value="{{sexo}}">
			<select type="text" class="form-control" id="select-sexo" name="sexo" required>
				<option id="macho" value="Macho">Macho</option>
				<option id="femea" value="Fêmea">Fêmea</option>
			</select>
		</div>
		<div class="forms-campo">
			<label for="peso" class="form-label">Peso *</label>
			<input type="text" class="form-text" id="peso" name="peso" value="{{peso}}" required>
		</div>
		<div class="forms-campo">
			<label for="dataNascimento" class="form-label">Data de nascimento *</label>
			<input type="text" class="form-text" id="dataNascimento" name="dataNascimento" value="{{datanascimento}}" required>
		</div>
		<div class="forms-campo">
			<label for="vacinas" class="form-label">Vacinas *</label>
			<input type="text" class="form-text" id="vacinas" name="vacinas" value="{{vacinas}}">
		</div>
		<div class="forms-campo">
			<label for="paiGado" class="form-label">Pai </label>
			<input type="text" class="form-text" id="paiGado" name="paiGado" value="{{pai}}">
		</div>
		<div class="forms-campo">
			<label for="maeGado" class="form-label">Mãe </label>
			<input type="text" class="form-text" id="maeGado" name="maeGado" value="{{mae}}">
		</div>
		<div class="forms-campo">
			<label for="loteAnimal" class="form-label">Lote do animal *</label>
			<input type="text" class="form-text" id="loteAnimal" name="loteAnimal" value="{{loteanimal}}" required>
		</div>
		<div class="forms-campo">
			<label for="status" class="form-label">Status *</label>
			<div class="radio">
				<label><input type="radio" id="status" name="status" value="Ativo" {{#if_eq status 'Ativo'}} checked {{/if_eq}}> Ativo</label>
			</div>
			<div class="radio">
				<label><input type="radio" id="status" name="status" value="Inativo" {{#if_eq status 'Inativo'}} checked {{/if_eq}}> Inativo</label>
			</div>
		</div>
		<div class="forms-campo">
			<label for="observacoes" class="form-label">Observações </label>
			<textarea type="text" class="form-control" id="observacoes" name="observacoes" rows="3">{{observacoes}}</textarea>
		</div>
		{{/each}}
		<hr>
		<input type="submit" value="Salvar" class="button sucess">
		<a class="button danger">Cancelar</a>
	</form>
</div>

{{#extend "js"}}
<script>
	$(document).ready(function () {
		$("#dataNascimento").mask("99/99/9999");

		const sexoAtual = $("#sexoAtual").val();
		const macho = $("#macho").val();
		const femea = $("#femea").val();
		
		if(sexoAtual === macho){
			$("#select-sexo").val("Macho");
		}
		else if(sexoAtual === femea){
			$("#select-sexo").val("Fêmea");
		}
		
		const racaAtual = $("#racaatual").val();
		const holandesa = $("#holandesa").val();
		const girolando = $("#girolando").val();
		const girLeiteiro = $("#girLeiteiro").val();
		const jersey = $("#jersey").val();
		const guernsey = $("#guernsey").val();
		const ayrshire = $("#ayrshire").val();
		const caracu = $("#caracu").val();
		const simental = $("#simental").val();
		const pardoSuica = $("#pardoSuica").val();
		const jersolando = $("#jersolando").val();
		const angus = $("#angus").val();
		const redAngus = $("#redAngus").val();
		const aberdeenAngus = $("#aberdeenAngus").val();
		const hereford = $("#hereford").val();
		const tabapua = $("#tabapua").val();
		const senepol = $("#senepol").val();
		const brahman = $("#brahman").val();
		const friesian = $("#friesian").val();
		const guzera = $("#guzera").val();
		const guzolando = $("#guzolando").val();
		const outra = $("#outra").val();

		if(racaAtual === holandesa){
			$("#select-raca").val("Holandesa");
		}
		else if(racaAtual === girolando){
			$("#select-raca").val("Girolando");
		}
		else if(racaAtual === girLeiteiro){
			$("#select-raca").val("Gir Leiteiro");
		}
		else if(racaAtual === jersey){
			$("#select-raca").val("Jersey");
		}
		else if(racaAtual === guernsey){
			$("#select-raca").val("Guernsey");
		}
		else if(racaAtual === ayrshire){
			$("#select-raca").val("Ayrshire");
		}
		else if(racaAtual === caracu){
			$("#select-raca").val("Caracu");
		}
		else if(racaAtual === simental){
			$("#select-raca").val("Simentel");
		}
		else if(racaAtual === pardoSuica){
			$("#select-raca").val("Pardo Suíça (Schwyz)");
		}
		else if(racaAtual === jersolando){
			$("#select-raca").val("Jersolando");
		}
		else if(racaAtual === angus){
			$("#select-raca").val("Angus");
		}
		else if(racaAtual === redAngus){
			$("#select-raca").val("Red Angus");
		}
		else if(racaAtual === aberdeenAngus){
			$("#select-raca").val("Aberdeen Angus");
		}
		else if(racaAtual === hereford){
			$("#select-raca").val("Hereford");
		}
		else if(racaAtual === tabapua){
			$("#select-raca").val("Tabapuã");
		}
		else if(racaAtual === senepol){
			$("#select-raca").val("Senepol");
		}
		else if(racaAtual === brahman){
			$("#select-raca").val("Brahman");
		}
		else if(racaAtual === friesian){
			$("#select-raca").val("Friesian");
		}
		else if(racaAtual === guzera){
			$("#select-raca").val("Guzerá");
		}
		else if(racaAtual === guzolando){
			$("#select-raca").val("Guzolando");
		}
		else if(racaAtual === outra){
			$("#select-raca").val("Outra");
		}
	});

	$("#button-deletar-gado").click(function (event) {
		var apagar = confirm('Deseja realmente excluir este registro?');
		if (apagar) {
			var pathEdit = $(this).attr('data-path');
			var id = $('#brinco').val();
			location.href = pathEdit + '/' + id;
		} else {
			event.preventDefault();
		}
	});

	$("#button-vacinar").click(function (event) {
		var pathEdit = $(this).attr('data-path');
		var id = $('#brinco').val();
		location.href = pathEdit + '/' + id;
	});

	$("#button-alimentacao").click(function (event) {
		var pathEdit = $(this).attr('data-path');
		var id = $('#brinco').val();
		location.href = pathEdit + '/' + id;
	});
</script>
{{/extend}}