<div class="detail-top">
	<h1>{{titleAlterar}} {{#each dados}}#{{id}}</h1>
	<a href="javascript:history.back()" class="button basic">Voltar</a>	
    <a id="button-deletar-ordenha" class="button danger">Deletar</a>
</div>

<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/alterarDadosOrdenha" method="POST" class="form-style">
		<div class="forms-campo">
			<label for="id" class="form-label">Id *</label>
			<input type="text" class="form-text campo-bloqueado" id="id" name="id" value="{{id}}" required readonly>
		</div>
		<div class="forms-campo">
			<label for="brinco" class="form-label">Brinco *</label>
			<input type="text" class="form-text campo-bloqueado" id="brinco" name="brinco" value="{{brinco}}" required readonly>
		</div>
		<div class="forms-campo">
			<label for="litrosLeite" class="form-label">Litros de leite produzido *</label> 
			<input type="number" class="form-text" id="litrosleite" name="litrosleite" value="{{litrosleite}}" required>
		</div>
        <div class="forms-campo">
			<label for="data" class="form-label">Data de ordenha *</label>
			<input type="text" class="form-text" id="data" name="data" value="{{data}}" required>
		</div>
        {{/each}}
		<hr>
		<input type="submit" value="Salvar" class="button sucess">
		<a class="button danger">Cancelar</a>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalDeletar" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="modalDeletar">DELETAR ORDENHA</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					Ei, deseja realmente deletar o registro dessa ordenha?
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" data-path="../deletarOrdenha" id="confirmarDeletar">Deletar</button>
					</div>
				</div>
			</div>
	</div>
</div>

{{#extend "js"}}
	<script>
		$(document).ready(function () {
			$("#data").mask("99/99/9999");
			
			$("#button-deletar-ordenha").click( function(event) {
			$("#myModal").modal();

				$("#confirmarDeletar").click(function(){
					var pathEdit = $(this).attr('data-path');
					var id = $('#id').val();
					location.href = pathEdit + '/' + id;
				});
	   	});
		});
	</script>
{{/extend}}
