<div class="detail-top">
	<h1>{{#each dados}}</h1>
	<a data-path="../deletarAlimentacao" class="button danger" id="button-deletar" data-target="#modalDeletar">Deletar</a>
</div>

<div class="container-form" style="margin-top: 2%;">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/alterarDadosAlimentacao" method="POST" class="form-style" role="form">
		<div class="box-body">
			<div class="forms-campo" style="display: none;">
				<label for="id" class="form-label">ID *</label>
				<input type="hidden" class="form-text campo-bloqueado" id="id" name="id" value="{{id}}" readonly>
			</div>
			<div class="form-group">
				<div class="forms-campo">
					<label for="codgado" class="form-label">Brinco do gado*</label>
					<input type="text" class="form-text campo-bloqueado" id="codgado" name="codgado" value="{{codgado}}" readonly>
				</div>
				<div class="forms-campo">
					<label for="nomegado" class="form-label">Nome do Gado*</label>
					<input type="text" class="form-text campo-bloqueado" id="nomegado" name="nomegado" value="{{nomegado}}" readonly>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="forms-campo">
						<label for="alimento" class="form-label">Alimentos*</label>
						<select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" name="codalimento"
						 id="select-alimento">
							<option name="codalimento" id="codalimento" value="{{codalimento}}">{{nomealimento}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="forms-campo">
						<label for="quantidadealimento" class="form-label">Quantidade*</label>
						<input type="text" class="form-control" name="quantidadealimento" id="quantidadealimento" value="{{quantidadealimento}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="forms-campo">
						<label for="suplemento" class="form-label">Suplementos*</label>
						<select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" name="codsuplemento"
						 id="select-suplemento">
						 <option name="codsuplemento" id="codsuplemento" value="{{codsuplemento}}">{{nomesuplemento}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">						
					<div class="forms-campo">
						<label for="quantidadesuplemento" class="form-label">Quantidade*</label>
						<input type="text" class="form-control" name="quantidadesuplemento" id="quantidadesuplemento" value="{{quantidadesuplemento}}">
					</div>
				</div>
			</div>
			{{/each}}
			<hr>
			<input type="submit" name="Salvar" class="button sucess">
		</div>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalDeletar" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="modalDeletar">DELETAR ALIMENTAÇÃO</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					Ei, deseja realmente deletar o cadastramento deste alimento?
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" data-path="../deletarOrdenha" id="confirmarDeletar">Deletar</button>
					</div>
				</div>
			</div>
	</div>
</div>
{{#extend "js"}}
<script type="text/javascript" src="../js/select2.full.min.js"></script>
<script>
	$(document).ready(function () {
		$(function () {
			//Initialize Select2 Elements
			$('.select2').select2();
		});

		$.get("/dadosAlimentos", data => {
			let option = [];
			const codAtualAlimento = $("#codalimento").val();

			data.forEach(alimento => {
				if(codAtualAlimento != alimento.id){
					option.push(`<option name="codalimento" value="${alimento.id}">${alimento.nome}</option>"`);
				}
			});
			$("#select-alimento").append(option);
		});
		const selectalimento = document.querySelector("#select-alimento");
		selectalimento.addEventListener('click', (e) => {

		});

		$.get("/dadosSuplementos", data => {
			let option = [];
			const codAtualSuplemento = $("#codsuplemento").val();

			data.forEach(suplemento => {
				if(codAtualSuplemento != suplemento.id){
					option.push(`<option name="codsuplemento" value="${suplemento.id}">${suplemento.nome}</option>"`);
				}
			});
			$("#select-suplemento").append(option);
		});
		const selectsuplemento = document.querySelector("#select-suplemento");
		selectsuplemento.addEventListener('click', (e) => {

		});

		$(document).ready(function () {

		$("#button-deletar").click(function(){
				$("#myModal").modal();

				$("#confirmarDeletar").click(function(){
					var pathEdit = $(this).attr('data-path');
					var id = $('#id').val();
					location.href = pathEdit + '/' + id;
				});
			});
	});
</script>
{{/extend}}