<div class="container-form">
	{{#each dados}}		
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/insertVacinaGado" method="POST" class="form-style" role="form">
		<div class="box-body">
			<div class="form-group">
				<div class="forms-campo">
					<label for="brinco" class="form-label">Brinco do gado*</label>
					<input type="text" class="form-text campo-bloqueado" id="codgado" name="codgado" value="{{brinco}}" readonly>
				</div>
				<div class="forms-campo">
					<label for="nome" class="form-label">Nome do Gado*</label>
					<input type="text" class="form-text campo-bloqueado" id="nomegado" name="nomegado" value="{{nome}}" readonly>
				</div>
				<div class="forms-campo">
					<label for="codvacina" class="form-label">Vacina*</label>
					<select  class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"name="codvacina" id="select-vacina"></select>
				</div>
				<div class="forms-campo" style="margin: 0px;">
					<input type="hidden" class="form-text" id="nomevacina" name="nomevacina">
				</div>
				<label for="datadevacina" class="form-label">Data de vacinação*</label>
				<div class="input-group date">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input type="text" class="form-control pull-right" id="datadevacina" name="datadevacina" required>
				</div>
			</div>
			{{/each}}
			<hr>
			<input type="submit" name="Cadastrar" class="button sucess">
		</div>
	</form>
</div>

{{#extend "js"}}
<script type="text/javascript" src="../js/select2.full.min.js"></script>
<script>
	$(function () {
	//Initialize Select2 Elements
		$('.select2').select2();
	});

	$(document).ready(function () {
		$("#datadevacina").mask("99/99/9999");
	});

	$(document).ready(function () {
		$.get("/dadosVacina", data => {
			let option = [];
			data.forEach(vacina => {
				option.push(`<option name="codvacina" value="${vacina.id}">${vacina.nome}</option>"`);
			});
			$("#select-vacina").append(option);
		});
		const select = document.querySelector("#select-vacina");
		select.addEventListener('click', (e) => {

		});
	});

</script>
{{/extend}}