{{!< layout/default}} 
	<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/insertInsumo" method="POST" class="form-style">
		<div class="forms-campo">
			<label for="nome" class="form-label">Nome *</label>
			<input type="text" class="form-text" id="nome" name="nome" required="">
		</div>
		<div class="forms-campo">
			<label for="select-tipo" class="form-label">Tipo *</label>
			<select class="form-control" name="tipo" id="select-tipo">
				<option id="alimento" name="tipo" value="Alimento">Alimento</option>
				<option id="suplemento" name="tipo" value="Suplemento">Suplemento</option>
				<option id="outros" name="tipo" value="Outros">Outros</option>
			</select>
		</div>
		<div class="forms-campo">
			<label for="preco" class="form-label">Valor da unidade*</label>
			<input type="text" class="form-text" id="preco" name="preco" required="">
		</div>
		<div class="forms-campo">
			<label for="fornecedor" class="form-label">Fornecedor *</label>
			<input type="text" class="form-text" id="fornecedor" name="fornecedor" required="">
		</div>
		<div class="forms-campo">
			<label for="descricao" class="form-label">Descricao *</label>
			<input type="text" class="form-text" id="descricao" name="descricao" required="">
		</div>
		<div class="forms-campo">
			<label for="quantidade" class="form-label">Quantidade *</label>
			<input type="number" class="form-text" id="quantidade" name="quantidade" required="">
		</div>
		<div class="forms-campo">
			<label for="dataDeValidade" class="form-label">Data de validade *</label>
			<input type="text" class="form-text" id="dataDeValidade" name="dataDeValidade" required="">
		</div>
		<hr>
		<input type="submit" value="Cadastrar" class="button sucess">
	</form>
	</div>

	{{#extend "js"}}
	<script>
		$(document).ready(function () {
			$("#dataDeValidade").mask("99/99/9999");
		});
	</script>
	{{/extend}}