{{!< layout/default}}
<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/insertOrdenha" method="POST" class="form-style" role="form">
		<div class="box-body">
			<div class="form-group">	
				<label>Data *</label>					
				<input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text"/>
			</div>
			<div class="form-group">
				<div class="form-group">
					<label>Animal *</label>
					<select class="form-control" name="brinco" id="select-animal">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Litros de leite *</label>
				<input type="text" class="form-control" name="litrosleite" required="">
			</div>
			<hr>
			<input type="submit" name="Cadastrar" class="button sucess">
		</div>
	</form>
</div>
{{#extend "js"}}
<script>
  		$(document).ready(function(){
      		var date_input=$('input[name="date"]'); //our date input has the name "date"
      		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      		var options={
      			dateFormat: 'dd/mm/yy',
    			container: container,
        		todayHighlight: true,
        		autoclose: true,
      		};
      		date_input.datepicker(options);
    	});
		$(document).ready(function () {
			$.get("/readGado", data => {
				let option = []
				data.forEach(gado => {
					option.push(`<option name="binco" value="${gado.brinco}">${gado.brinco} - ${gado.nome}</option>"`)
				});
				$("#select-animal").append(option)
				console.log(option)
			})
			const select = document.querySelector("#select-animal");
			select.addEventListener('click', (e) => {
				
			})
		})
</script>
{{/extend}}