<div class="row detail-top">
    <a href="javascript:history.back(1);" id="button-voltar" class="button info"><i class="fa fa-chevron-left"></i> Voltar ao Painel</a>
</div>
    
<div class="form-group input-group" style="margin-top: 2%;">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>

<table id="tabela" class="table table-hover">
    <thead>
      <tr>
        <th>Id de alimentação</th>
        <th>Brinco</th>
        <th>Nome do Gado</th>
        <th>Alimento</th>
        <th>Quantidade</th>
        <th>Suplemento</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      {{#each dados}}
      <tr data-id="/alterarAlimentacao/{{id}}" class="item-edit">
        <td>{{id}}</td>
        <td>{{codgado}}</td>
        <td>{{nomegado}}</td>
        <td>{{nomealimento}}</td>
        <td>{{quantidadealimento}}</td>
        <td>{{nomesuplemento}}</td>
        <td>{{quantidadesuplemento}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#extend "js"}}
  <script>
  
  $('input#txt_consulta').quicksearch('table#tabela tbody tr');
  
  </script>
  {{/extend}}