<div class="row detail-top">
<a href="cadastroAnaliseLeite" id="button-cadastrar-pedido" class="button sucess"><i class="fa fa-shopping-cart"></i>  Cadastrar nova análise</a>
</div><br>

<div class="form-group input-group">
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>

<table id="tabela" class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Data Teste</th>
      <th>Responsavel</th>
      <th>Lote Amostra</th>
      <th>Especificação</th>
      <th>Resultado</th>
    </tr>
  </thead>
  <tbody>
    {{#each dados}}
      <tr data-id="/alterarAnalise/{{id}}" class="item-edit">
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{datateste}}</td>
        <td>{{responsavel}}</td>
        <td>{{loteamostra}}</td>
        <td>{{especificacao}}</td>
        <td>{{resultado}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#extend "js"}}
<script>

$('input#txt_consulta').quicksearch('table#tabela tbody tr');

</script>
{{/extend}}