<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box" id="box-countLeite">
      <span class="info-box-icon bg-aqua"><i class="fa fa-asterisk" aria-hidden="true" ></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Leite Produzido</span>
        <span class="info-box-number" id="countLeite"></span>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box" id="box-countLeite">
      <span class="info-box-icon bg-aqua"><i class="fa fa-money" aria-hidden="true"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Leite Vendido</span>
        <span class="info-box-number" id="vendLeite"></span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box" id="box-countLeite">
      <span class="info-box-icon bg-aqua"><i class="fa fa-check" aria-hidden="true"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Leite Disponível</span>
        <span class="info-box-number" id="qtdLeite"></span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="form-group">  
      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text"/>
      </div>  
      </div>
  </div>

<div class="detail-top">
<a href="cadastrarPedido" id="button-cadastrar-pedido" class="button sucess"><i class="fa fa-shopping-cart"></i>  Realizar Vendas</a>
</div>
</div><br>

<div class="form-group input-group">
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>  

<table id="tabela" class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome Comprador</th>
      <th>Quantidade de litros de Leite</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Data Vencimento</th>
      <th>Descricao</th>
      <th>Parcelamento</th>
      <th>Quantparcelamento</th>
    </tr>
  </thead>
  <tbody>
    {{#each dados}}
    <tr data-id="/alterarPedido/{{id}}" class="item-edit">
      <td>{{id}}</td>
      <td>{{responsavellegal}}</td>
      <td>{{quantidadelitros}}</td>
      <td>{{data}}</td>
      <td>{{valor}}</td>
      <td>{{dataVencimento}}</td>
      <td>{{descricao}}</td>
      <td>{{parcelamento}}</td>
      <td>{{quantparcelamento}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#extend "js"}}
<script>

       $(document).ready(function(){
          var date_input=$('input[name="date"]'); //our date input has the name "date"
          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
          var options={
            dateFormat: 'dd/mm/yy',
          container: container,
            todayHighlight: true,
            autoclose: true,
          };
          date_input.datepicker(options);
      });

        $('input#txt_consulta').quicksearch('table#tabela tbody tr');

    function htmlInsert(countLeite, vendLeite, qtdLeite) {
        $("#countLeite").html('' + countLeite);
        $("#vendLeite").html('' + vendLeite);
        $("#qtdLeite").html('' + qtdLeite);
    };

  $(document).ready(function () {

    $.get("/readOrdenha", data => {
      let countLeite = 0;

      data.forEach(elem => {
        countLeite += parseFloat(elem.litrosleite);
      });

      $.get("/readPedidos", data => {
        let vendLeite = 0;
        let qtdLeite = 0;

        data.forEach(elem => {
          vendLeite += parseFloat(elem.quantidadelitros);
        });
        qtdLeite = countLeite - vendLeite;      
        htmlInsert(countLeite, vendLeite, qtdLeite);
      });
    });
  });


</script>
{{/extend}}
