<div class="row detail-top">
<a href="cadastrarPedido" id="button-cadastrar-pedido" class="button sucess"><i class="fa fa-shopping-cart"></i>  Realizar Vendas</a>
</div><br>

<div class="form-group input-group">
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>  

<table id="tabela" class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome Comprador</th>
      <th>Quantidade de litros de Leite</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Data Vencimento</th>
      <th>Descricao</th>
      <th>Parcelamento</th>
      <th>Quantparcelamento</th>
    </tr>
  </thead>
  <tbody>
    {{#each dados}}
    <tr data-id="/alterarPedido/{{id}}" class="item-edit">
      <td>{{id}}</td>
      <td>{{responsavellegal}}</td>
      <td>{{quantidadelitros}}</td>
      <td>{{data}}</td>
      <td>{{valor}}</td>
      <td>{{dataVencimento}}</td>
      <td>{{descricao}}</td>
      <td>{{parcelamento}}</td>
      <td>{{quantparcelamento}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#extend "js"}}
<script>

$('input#txt_consulta').quicksearch('table#tabela tbody tr');

</script>
{{/extend}}
