<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box" id="box-countGado">
      <span class="info-box-icon bg-aqua"><i class="fa fa-asterisk" aria-hidden="true" ></i></span>
      <div class="info-box-content">
        <span class="info-box-text">CABECAS DE GADO</span>
        <span class="info-box-number" id="countGado"></span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box" id="box-activeGado">
      <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">GADO ATIVO</span>
        <span class="info-box-number" id="activeGado"></span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box" id="box-inactiveGado">
      <span class="info-box-icon bg-red"><i class="fa fa-hand-o-down" aria-hidden="true"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">GADO INATIVO</span>
        <span class="info-box-number" id="inactiveGado"></span>
      </div>
    </div>
  </div>
  <div class=" col-xs-1">
    <a href="/consultarOrdenha"><span class="info-box-icon bg-yellow"><i class="fa fa-get-pocket" aria-hidden="true"></i></span></a>
  </div>
  <div class="col-xs-2" >
    <a href="/cadastroGado"><span class="info-box-icon bg-green"><i class="fa fa-plus" aria-hidden="true"></i></span></a>
  </div>  
</div>

<div class="form-group input-group">
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>

<h3 id="tipo">
  Todos dados
</h3>
<div class="row">
  <div class="col-sm-12">
    <table id="tabela" class="table table-hover dataTable table-bordered">
      <thead class="sorting">
        <tr>
          <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >Brinco</th>
          <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >Nome</th>
          <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >Raça</th>
          <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >Sexo</th>
          <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >Data de nascimento</th>
          <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >Peso</th>
          <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >Lote</th>
          <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >Status</th>
        </tr>
      </thead>
      <tbody id="tableGado">
      </tbody>
    </table>
  </div>
</div>
{{#extend "js"}}
<script>

  function htmlInsert(countGado, activeGado, inactiveGado) {
    $("#countGado").html('' + countGado);
    $("#activeGado").html('' + activeGado);
    $("#inactiveGado").html('' + inactiveGado);
  };

  function setTable(table) {
    $("#tableGado").html('');
    $("#tableGado").append(table);
  };

  $(document).ready(function () {
    $.get("/readGado", data => {
      let activeGado = 0;
      let inactiveGado = 0;
      let table = [];

      data.forEach(elem => {
        
        if (elem.status === 'Ativo') activeGado += 1;
        if (elem.status === 'Inativo') inactiveGado += 1;
        table.push(`<tr data-id="" class="item-edit odd" role="row"><td>${elem.brinco}</td><td>${elem.nome}</td><td>${elem.raca}</td><td>${elem.sexo}</td><td>${elem.datanascimento}</td><td>${elem.peso}</td><td>${elem.loteanimal}</td><td><a href="alterarGado/${elem.brinco}">${elem.status}</a></td></tr>`)
      });

      const countGado = activeGado + inactiveGado;
      htmlInsert(countGado, activeGado, inactiveGado);
      setTable(table);
    });
    
    $('#box-countGado').on('click', () =>{
      let table = [];
      $.get("/readGado", data => {
        data.forEach(elem => {
          table.push(`<tr data-id="/alterarGado/${elem.brinco}" class="item-edit odd" role="row"><td>${elem.brinco}</td><td>${elem.nome}</td><td>${elem.raca}</td><td>${elem.sexo}</td><td>${elem.datanascimento}</td><td>${elem.peso}</td><td>${elem.loteanimal}</td><td>${elem.status}</td></tr>`)
        });
        setTable(table);
      });
    });

    $('#box-activeGado').on('click', () =>{
      let table = [];
      $.get("/readGado", data => {
        data.forEach(elem => {
          if (elem.status === 'Ativo') table.push(`<tr data-id="/alterarGado/${elem.brinco}" class="item-edit odd" role="row"><td>${elem.brinco}</td><td>${elem.nome}</td><td>${elem.raca}</td><td>${elem.sexo}</td><td>${elem.datanascimento}</td><td>${elem.peso}</td><td>${elem.loteanimal}</td><td>${elem.status}</td></tr>`)
        });
        setTable(table);
      });
    });

    $('#box-inactiveGado').on('click', () =>{
      let table = [];
      $.get("/readGado", data => {
        data.forEach(elem => {
          if (elem.status === 'Inativo') table.push(`<tr data-id="/alterarGado/${elem.brinco}" class="item-edit odd" role="row"><td>${elem.brinco}</td><td>${elem.nome}</td><td>${elem.raca}</td><td>${elem.sexo}</td><td>${elem.dataNascimento}</td><td>${elem.peso}</td><td>${elem.lote}</td><td>${elem.status}</td></tr>`)
        });
        setTable(table);
      });
    }); 
  });
  $('input#txt_consulta').quicksearch('table#tabela tbody tr');
</script>
{{/extend}}