<div class="row detail-top">
  <a href="cadastrarInsumo" id="button-cadastrar-pedido" class="button sucess"><i class="fa fa-shopping-cart"></i>  Cadastrar Insumos</a>
  <a href="relatorio/estoque" id="button-consultar-pedido" class="button warning"><i class="fa fa-shopping-cart"></i>  Relatório Insumos</a>  
</div>
<br>

<div class="form-group input-group">
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>

<table id="tabela" class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Fornecedor</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Data de Validade</th>
    </tr>
  </thead>
  <tbody>
    {{#each dados}}
      <tr data-id="/detalheInsumos/{{id}}" class="item-edit">
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{tipo}}</td>
        <td>{{preco}}</td>
        <td>{{fornecedor}}</td>
        <td>{{descricao}}</td>
        <td>{{quantidade}}</td>
        <td>{{datadevalidade}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#extend "js"}}
<script>

$('input#txt_consulta').quicksearch('table#tabela tbody tr');

</script>
{{/extend}}
