<div class="row detail-top">
    <a href="/alimentarGado/{{codgado}}" id="button-cadastrar-alimentacao" class="button sucess"><i class="fa fa-shopping-cart"></i>  Cadastrar Alimentação</a>
</div><br>
    
<div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>

<table id="tabela" class="table table-hover">
    <thead>
      <tr>
        <th>Id de alimentação</th>
        <th>Brinco</th>
        <th>Nome do Gado</th>
        <th>Alimento</th>
        <th>Quantidade</th>
        <th>Suplemento</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      {{#each dados}}
      <tr data-id="/alterarAlimentacao/{{id}}" class="item-edit">
        <td>{{id}}</td>
        <td>{{codgado}}</td>
        <td>{{nomegado}}</td>
        <td>{{nomealimento}}</td>
        <td>{{quantidadealimento}}</td>
        <td>{{nomesuplemento}}</td>
        <td>{{quantidadesuplemento}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#extend "js"}}
  <script>
  
  $('input#txt_consulta').quicksearch('table#tabela tbody tr');
  
  </script>
  {{/extend}}