<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome Comprador</th>
      <th>Quantidade de litros de Leite</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Data Vencimento</th>
      <th>Descricao</th>
      <th>Parcelamento</th>
      <th>Quantparcelamento</th>
    </tr>
  </thead>
  <tbody>
    {{#each dados}}
    <tr data-id="/alterarPedido/{{id}}" class="item-edit">
      <td>{{id}}</td>
      <td>{{responsavellegal}}</td>
      <td>{{quantidadelitros}}</td>
      <td>{{data}}</td>
      <td>{{valor}}</td>
      <td>{{dataVencimento}}</td>
      <td>{{descricao}}</td>
      <td>{{parcelamento}}</td>
      <td>{{quantparcelamento}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>