<div class="row detail-top">
  <a href="cadastrarInsumoVacina" id="button-cadastrar-pedido" class="button sucess"><i class="fa fa-shopping-cart"></i>  Cadastrar Vacina</a>
  <a href="relatorio/estoquedevacina" id="button-consultar-pedido" class="button warning"><i class="fa fa-file-pdf-o"></i>  Relatório</a>
</div>

<div class="form-group input-group" style="margin-top: 2%;">
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>  

<table id="tabela" class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Fornecedor</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Data de Validade</th>
    </tr>
  </thead>
  <tbody>
    {{#each dados}}
      <tr data-id="/detalheInsumoVacina/{{id}}" class="item-edit">
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{fornecedor}}</td>
        <td>{{descricao}}</td>
        <td>{{quantidade}}</td>
        <td>{{datadevalidade}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#extend "js"}}
<script>

$('input#txt_consulta').quicksearch('table#tabela tbody tr');

</script>
{{/extend}}
