	<div class="detail-top">
	<h1>{{titleAlterar}} {{#each dados}}#{{id}}</h1>
	<a href="javascript:history.back()" class="button basic">Voltar</a>
	<a id="buttondeletar" class="button danger">Deletar</a>
</div>

<div class="container-form">
	<h2 class="title-form">Preencha todas informações abaixo:</h2>
	<form action="/alterarInsumos" method="POST" class="form-style">
		<div class="forms-campo">
			<label for="id" class="form-label">ID *</label>
			<input type="text" class="form-text campo-bloqueado" id="id" name="id" value="{{id}}" readonly>
		</div>
		<div class="forms-campo">
			<label for="nome" class="form-alabel">Nome *</label>
			<input type="text" class="form-text" id="nome" name="nome" value="{{nome}}">
		</div>
		<div class="forms-campo">
			<label for="select-tipo" class="form-label">Tipo *</label>
			<input type="hidden" id="tipoatual" value="{{tipo}}">
			<select type="text" class="form-control" name="tipo" id="select-tipo">
				<option id="alimento" name="tipo" value="Alimento">Alimento</option>
				<option id="suplemento" name="tipo" value="Suplemento">Suplemento</option>
				<option id="outros" name="tipo" value="Outros">Outros</option>
			</select>
		</div>
		<div class="forms-campo">
			<label for="preco" class="form-label">Valor da unidade*</label>
			<input type="text" class="form-text" id="preco" name="preco" value="{{preco}}" placeholder="Digite o valor. Obs: para os centavos utilizar ponto ( . )">
		</div>
		<div class="forms-campo">
			<label for="fornecedor" class="form-label">Fornecedor *</label>
			<input type="text" class="form-text" id="fornecedor" name="fornecedor" value="{{fornecedor}}">
		</div>
		<div class="forms-campo">
			<label for="descricao" class="form-label">Descricao *</label>
			<input type="text" class="form-text" id="descricao" name="descricao" value="{{descricao}}" placeholder="Descreva este insumo...">
		</div>
		<div class="forms-campo">
			<label for="quantidade" class="form-label">Quantidade *</label>
			<input type="number" class="form-text" id="quantidade" name="quantidade" value="{{quantidade}}">
		</div>
		<div class="forms-campo">
			<label for="dataDeValidade" class="form-label">Data de validade *</label>
			<input type="text" class="form-text" id="dataDeValidade" name="dataDeValidade" value="{{datadevalidade}}">
		</div>
		<hr>
		<input type="submit" value="Salvar" class="button sucess">
	</form>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalDeletar" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="modalDeletar">DELETAR INSUMO</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					Ei, deseja realmente deletar o cadastro deste insumo?<br>
					<sup>Saiba que essa ação não afetará o caixa do sistema</sup>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" data-path="../deletarInsumos" id="confirmarDeletar">Deletar</button>
					</div>
				</div>
			</div>
	</div>
</div>
{{/each}} {{#extend "js"}}
<script>
	$(document).ready(function () {
		$("#dataDeValidade").mask("99/99/9999");

		$("#buttondeletar").click(function(){
				$("#myModal").modal();

			$("#confirmarDeletar").click(function(){
				var pathEdit = $(this).attr('data-path');
				var id = $('#id').val();
				location.href = pathEdit + '/' + id;
			});
		});

		const alimento = $("#alimento").val();
		const suplemento = $("#suplemento").val();
		const outros = $("#outros").val();
		const tipoinsumo = $("#tipoatual").val();

		if(tipoinsumo === alimento){
			$("#select-tipo").val("Alimento");
		}
		else if(tipoinsumo === suplemento){
			$("#select-tipo").val("Suplemento");
		}
		else if(tipoinsumo === outros){
			$("#select-tipo").val("Outros");
		}
	});
</script>
{{/extend}}