<!-- <div class="wrapperLogin">
  <form class="form-signin" action="/login" method="POST">      
    <h2 class="form-signin-heading">Login</h2>
    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuário" required autofocus />
    <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required/>     
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Lembrar-me
    </label>
    <button class="btn btn-lg btn-primary btn-block" id="btnSalvar" type="submit">Login</button>   
  </form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login ou senha inválidos</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div> -->
<form action="/login" method="POST">
  <div class="container">
    <h1><b>Milma</b></h1>
    <sup>Milk Management</sup></br>
    <br>


    <label><b>Usuário</b></label>
    <input type="text" placeholder="Entre Usuário" name="usuario" required>

    <label><b>Senha</b></label>
    <input type="password" placeholder="Entre Senha" name="senha" required>
        
    <button type="submit">Login</button>
  </div>
</form>