<div class="box">
  <div class="box-header">
    <h3 class="box-title">{{titlePDF}}</h3>
  </div>
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tbody>
        <tr>
          {{#each header}}            
            <th>{{this}}</th>
          {{/each}}
        </tr>
        {{#each dados as |value key|}}
        <tr>
          {{#each value }}
            <td>{{this}}</td>
          {{/each}}
        </tr>
        {{/each}}      
      </tbody>
    </table>
  </div>
</div>

{{#extend "js"}}
<script>
  $(document).ready(function () {
    window.print();
  });  
</script>
{{/extend}}